# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
logs
results

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
.idea/
.vscode/
